<h2>What is Davinci Coders?</h2>

<p><a href="http://davincicoders.com/">Davinci Coders </a> is an 11 week Ruby and Ruby on Rails program designed to take you from beginner programmer to apprentice.</p>

<p>In the 11 weeks we covered:</p>
<ul>
  <li>Ruby</li>
  <li>Ruby on Rails</li>
  <li>Test::Unit</li>
  <li>SQL</li>
  <li>PostgreSQL</li>
  <li>Javascript</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>Agile</li>
  <li>Github</li>
  <li>Heroku</li>
</ul>
