<h1>From Ruby to Rails</h1>

<h4>In the beginning, we were given very basic Ruby exercises.</h4>
<h4>We ran them in IRB, yippee!</h4>
    <h4>In the middle, we were taught Rails.</h4>
    <h4>We ran our apps with localhost:3000.</h4>
    <h4>In the end, I took the original basic Ruby code, and made it Rails.</h4>
    <h4>I'm running with Heroki!<h4>
        <h4>"We have come full circle, grasshopper."<h4>
<h4>Here is what I learned.</h4>

<img src="/app/assets/images/ruby.png"/>
