<h1>From Ruby to Rails</h1>

<h3>In the beginning, we were given very basic Ruby exercises.</h3>
<body1>We ran them in IRB, yippee!</body1>
<h3>In the middle, we were taught Rails.</h3>
<body>We ran our apps with localhost:3000.</body>
<h3>In the end, I took the original basic Ruby code, and made it Rails.</h3>
<body>I'm running with Heroki!<body>
  <h3>"We have come full circle, grasshopper."</h3>
<body>Here is what I learned.</body>

<div class="brand"><img class="logo" src="/app/assets/images/ruby.png"></div>
