<h2> Special Thanks </h2>

<h4> The Teachers </h4>
<p> I'd like to especially thank my instructor Peter Jones, my mentor
Mike Gehard and our class TA's John Foley and Daniel Stunzman. Without
their time, energy, patience and dedication, I would not have learned
a thing. (No joke.) Thank you! </p>

<h4> My Classmates </h4>
<p> For being awesome people and making the journey
so wonderful. It has been a great summer with all of you and I will
miss you! </p>

<h4> The Community </h4>
<p> I am still amazed at how warm and welcoming
EVERYONE has been at every industry event I have attended. Thank you
for being so open and generous. And thank you for all the pizza and beer!
</p>

<h4> Davinci Institue</h4>
<p> For putting on the program, pairing us with mentors and for all
the speakers. Every little thing has helped in our quest to learn and
understand. </p>
