<h2>What I Learned</h2>

<ol>
  <li>Working in groups is the fastest way to learn.</li>
  <li>Learning to program is an emotional rollercoaster of "Yes I can" to "I'm an idiot" to "Yes I can" to "I'm a moron" to "Yes I can"...you get the point.</li>
  <li>Take on projects where you know you can succeed. It's really important to have successful moments.</li>
  <li>It's not magic. Although Rails does have some magic.</li>
  <li>"There's a Gem for that!" There is a Gem for everything. </li>
  <li>Twitter Bootstrap Rocks!</li>
</ol>
