<h2>Lessons Learned</h2>

<ul>
  <li>Working in groups is the fastest way to learn. (I &hearts; pair programming!)</li>
  <li>You will dream about code.</li>
  <li>Learning to program is an emotional rollercoaster of "Yes I can" to "I'm an idiot" to "Yes I can" to "I'm a moron" to "Yes I can"...you get the point. (Just be sure to always end on "YES I CAN!")</li>
  <li>Take on projects where you know you can succeed. It's really important to have successful moments.</li>
  <li>It's not magic-- although Rails does have some magic.</li>
  <li>"There's a Gem for that!" There is a Gem for everything. </li>
  <li>Errors are not scary. They are part of the daily life of a coder. And you should be HAPPY to see an error! At least you know what you need to fix.</li>
  <li>Twitter Bootstrap Rocks!</li>
</ul>
