<!DOCTYPE html>

<html>
  <body>

    <form action= <%= celsius_path %> method="get">
      <h2>Converting Temperatures Made Easy</h2>

      <SELECT name="celsius">
        <OPTION value="celsius">celsius</OPTION>
        <OPTION value="fahrenheit">fahrenheit</OPTION>
      </SELECT>

      <input type="integer" name="farhenheit"/>
      <input type="submit" name="submit" value="Convert!"/>

    </form>
  </body>
</html>
