<!DOCTYPE html>

<html>
  <body>

    <form action="/converters/1" method="get">
      <h2>Converting Temperatures Made Easy</h2>

      <SELECT name="celsius">
        <OPTION value="celsius">celsius</OPTION>
        <OPTION value="fahrenheit">fahrenheit</OPTION>
      </SELECT>

      <input type="integer" name="q"/>
      <input type="submit" name="submit" value="convert!"/>

    </form>
  </body>
</html>
